{% extends 'basic_template.html' %}
{% block content %}
<main>
    <div class="album py-3 bg-body-tertiary container text-center">
        <div class="container text-center">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <p> Хотите удалить запись? </p>
                                            <button type="submit" class="btn btn-outline-primary">Подтвердить</button>
                                               <a href="/records" class="btn btn-outline-primary">Отмена</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
